:root {
  --backgroud-color: #2B2C3A;
  --title-item-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: var(--backgroud-color);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  display: flex;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 280px;
  background-color: rgba(156, 165, 236, 0.04);
  height: 100vh;
}

.logo {
  padding: 19px 0px 15px 30px;
}

.h-line {
  color: #D8D8D8;
  opacity: 0.1;
}

.side-menu {
  padding: 15px 30px 5px 30px;
}

.side-menu-list {
  list-style: none;
  font-size: 14px;
}

.menu-item {
  margin-top: 15px;
  text-transform: uppercase;
  line-height: 20px;
  color: var(--title-item-color);
}

.menu-item a:hover {
  opacity: 0.6;
}

.sub-items {
  padding-left: 20px;
}

.sub-menu {
  margin-top: 13px;
  /* display: none; */
}

.sub-item {

  height: 40px;
  display: flex;
  align-items: center;
  /* display: none; */
  /* display: inline-block; */

}

.sub-item-link {
  padding-left: 20px;
  /* background-repeat: no-repeat; */
  /* padding-left: 35px; */
}


/* .item-1 {
  background-image: url(../img/html_css_menu_img.svg);
} */

/* .item-2 {
  background-image: url(../img/.svg);
}

.item-3 {
  background-image: url(../img/.svg);
}

.item-4 {
  background-image: url(../img/.svg);
}

.item-5 {
  background-image: url(../img/.svg);
}

.item-6 {
  background-image: url(../img/.svg);
} */

.dropdown-menu {
  padding-right: 166px;
  background-image: url(../img/reverse_point.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 210px;
}

.sub-item:nth-child(1) {
  margin-top: 18px;
}

.menu-item-img {
  width: 17px;
}

.subscribe-block {
  margin: 186px 0px 32px 30px;
  position: fixed;
  bottom: 0;
}

.subscribe-checkbox {
  display: flex;
}

.subscribe-text {
  margin-right: 60px;
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 14px;
}

.checkbox {
  display: none
}

.switch {
  width: 42px;
  height: 22px;
  background-color: rgba(156, 165, 236, 0.04);
  z-index: 0;
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

.switch:before {
  content: ' ';
  position: absolute;
  width: 42px;
  height: 22px;
  background-color: rgba(156, 165, 236, 0.04);
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

.switch:after {
  content: ' ';
  margin: 3px;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #6F6EFF;
  position: absolute;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.switchOn,
.switchOn:before {
  background-color: rgba(156, 165, 236, 0.04) !important;
}

.switchOn:after {
  left: 20px !important;
}

.content {
  height: 100vh;
  width: 100%;
  margin-left: 280px;
}

.header {
  /* padding-left: 55px; */
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 999999;
}

.fix-head {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--backgroud-color);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-right: 28px;
  color: var(--title-item-color);
  opacity: 0.6;

}

.nav-item {
  margin-left: 28px;
}

.nav-item:hover {
  opacity: 0.9;
}

.vertilal-line {
  display: inline;
  height: 20px;
  margin: 10px;
  border-left: 1px solid #979797;
  opacity: 0.1;
}

.info-study {
  margin-left: 312px;
  display: flex;
  align-items: center;
}

.info-item {
  margin-right: 10px;
  padding: 7px 9px 7px 9px;
  color: var(--title-item-color);
  background-color: #979797;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 5px;
}

.progress-time {
  display: flex;
  align-items: center;
}

.energy {
  padding: 1px 5px 3px 5px;
  align-items: center;
  width: 18px;
  height: 18px;
  background: #FF4738;
  box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
  border-radius: 4px;
  margin-right: 16px;
}

.energy-time {
  color: #979797;
  margin-left: 4px;
}

.profile-block {
  display: flex;
  align-items: center;
  margin-right: 45px;
  color: var(--title-item-color);
}

.avatar {
  width: 44px;
  height: 44px;
  background-image: url(../img/avatar.png);
}

.round-online {
  width: 6px;
  height: 6px;
  margin-right: 5px;
  background: #24CB8D;
  border-radius: 50%;
}

.profile-info {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
}

.online-status {
  padding-left: 4px;
  display: flex;
  align-items: center;
}

.profile-priveledge {
  margin-left: 15px;
  margin-bottom: 22px;
  display: flex;
  width: 40px;
  height: 14px;
  align-items: center;
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  /* box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5); */
  border-radius: 4px;
}

.profile-status {
  font-size: 11px;
  line-height: 10px;
  margin: auto;
}

.account-info {
  display: flex;
}

.lessons-block {
  margin-left: 52px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.lesson-list {
  margin-right: 55px;
  margin-bottom: 60px;
  display: flex;
  justify-content: flex-start;
}

.lesson-info {
 padding-left: 15px;
/* padding-bottom:50px; */
}


.lesson-lvl {
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--title-item-color);
  opacity: 0.4;
}

.section-title {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 400;
  /* line-height: 18px; */
  color: var(--title-item-color);
}

.lesson {
  margin-right: 16px;
  width: 255px;
  height: 294px;
  border-radius: 6px;
 position:relative;

  background: rgba(255, 255, 255, 0.04)
}

.lesson-head {
  display: flex;
  justify-content: space-between;
  margin-right: 44px;
}

.lesson-type {
  padding-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 144px;
  border-radius: 6px;
}

.type-1 {
  background-image: url(../img/lesson_img_1.png);
  background-repeat: no-repeat;
}

.type-2 {
  background-image: url(../img/lesson_img_2.png);
  background-repeat: no-repeat;
}

.type-3 {
  background-image: url(../img/lesson_img_3.png);
  background-repeat: no-repeat;
}

.type-4 {
  background-image: url(../img/lesson_img_4.png);
  background-repeat: no-repeat;
}

.lesson-type-name {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-item-color);
  width: 50px;
  height: 20px;
  background: #6F6EFF;
  font-size: 12px;
  border-radius: 3px;
}

.lesson-title {
  font-size: 16px;
  line-height: 12px;
  color: var(--title-item-color);
}

.lesson-desc {
  margin-top: 10px;
  margin-bottom: 18px;
  padding-right: 25px;
  font-size: 14px;
  line-height: 18px;
  color: var(--title-item-color);
  opacity: 0.5;
}

.lesson-nav {
  display: flex;
  justify-content: center;
}

.prev-lesson {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  border-radius: 4px;
  background-position: 50%;
}

.next-lesson {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  border-radius: 4px;
  background-position: 50%;
}

.all_lesson {
  margin-right: 5px;
  border: none;
  width: 86px;
  height: 30px;
  font-size: 12px;
  line-height: 17px;
  color: var(--title-item-color);
  background-color: #6F6EFF;
  border-radius: 4px;
}

.lesson-footer {
  margin: 15px 15px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.lesson-date {
  margin-right: 68px;
  font-size: 13px;
  line-height: 10px;
  color: var(--title-item-color);
}

.lesson-h-line {
  position: absolute;
  bottom: 61px;
  width: 99%;
  color: #D8D8D8;
  opacity: 0.1;
}

.lesson-watch {
  border: none;
  width: 89px;
  height: 30px;
  font-size: 13px;
  line-height: 10px;
  background-color: #6F6EFF;
  border-radius: 4px;
  color: var(--title-item-color);
}

.btn-lesson:hover {
 opacity: 0.8;
 transition: opacity 0.5s;
}

.btn-lesson:active {
  transform: scale(0.9);
  transition: transform 0.5s;
 }

